.category-div{
    display: flex;
    gap: 12px;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px ;
    margin-top: 40px;
}

.category-btn{
    font-size: 33px;
    padding: 10px 26px 7px;
    border-radius: 28px;
    border: none;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    color: #fff;
    font-weight: normal;
    background-color: #bc271c;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67);
    text-shadow: 2px 2px 7px #000000;
    transition: background-color 0.2s ease, transform 0.2s ease;
}
.category-btn.selected {
  background-color: #9e1f17; 
  transform: scale(1.05);
  box-shadow: 0px 14px 26px -9px rgba(0,0,0,0.75);
}
