.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #F3E5BE;
    color: black;
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid black;
    font-weight: normal;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    animation: fadeInOut 2s ease forwards;
    z-index: 9999;
    font-size: 33px;
    letter-spacing: 2px;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translateY(20px); }
    10% { opacity: 1; transform: translateY(0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translateY(20px); }
}
