.orders-container {
    width: 90%;
    margin: auto;
}

.order-card {
    background: rgb(243, 229, 190);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-details {
    margin-top: 10px;
    padding: 10px;
    background: #fafafa;
    border-radius: 6px;
}

.order-item {
    border-bottom: 1px solid #ddd;
    padding: 8px 0;
}
