.contact-card{
    width: 240px;
    height: 240px;
    background-color: #bc271c;
    border: 3px solid black;
    border-radius: 7px;
}
.contact-cards{
    display: flex;
    align-items: center;
    text-align: center;
}
.desc{
    color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
    font-size: 30px;
}
.con{
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 1px #000000;
    font-size: 40px;
}