.contact-card{
    width: 240px;
    height: 240px;
    background-color: #bc271c;
    border: 4px solid black;
    border-radius: 20px;
}
.contact-cards{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 50px;
    margin-top: 60px;
}
.desc{
    color: white;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
    font-weight: normal;
    text-shadow: 1px 1px 1px #000000;
    font-size: 30px;
}
.con{
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1px 1px #000000;
    font-size: 40px;
    
}
.kep{
    padding-top: 5px;
    width: 80px;
}
.kepp{
    padding-top: 5px;
    width: 100px;
}