#div-404{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 140px;
}

#card-404{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
#card-404 h1{
    font-size: 190px;
    color: #BC271C;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}

#card-404 p{
    color: black;
    font-size: 140px;
    margin-top: -40px;  
    color: #BC271C;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
}
#button-404{
    width: 280px;
    font-size: 50px;
    padding: 10px 10px 7px 10px;
    border-radius: 80px;
    background-color: #BC271C;
    color: #f3e5be;
    -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
    font-weight: normal;
    text-shadow: 2px 2px 7px #000000;
    border: none;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67);
}
@media (max-width: 960px) {
    #card-404{
        text-align: center;
    }
    #card-404 p{
        font-size: 90px;
    }
    #card-404 h1{
        font-size: 150px;
    }
    #button-404{
        font-size: 40px;
        width: 240px;
    }
}