#pmenu-div{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 70px;
}
#pmenu-div button{
    padding: 12px 25px 8px;
    font-size: 35px;
    border-radius: 38px;
    background-color: #BC271C;
    color: #fff;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 7px #000000;
}