#pmenu-div{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 70px;
}
#pmenu-div button{
    padding: 12px 25px 8px;
    font-size: 35px;
    border-radius: 38px;
    background-color: #BC271C;
    color: #fff;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 7px #000000;
    border: none;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67);
}

#profile-div{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}