.reg-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}
.reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3E5BE;
    border-radius: 17px;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67);
    
}
.reg-h2{
    font-size: 48px;
    padding: 25px;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 7px #000000;
    margin-top: 20px;
}
.reg-form label{
    color:#fff;
    font-size: 40px;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 7px #000000;
}
.reg-form input[type="text"],
.reg-form input[type="password"],
.reg-form input[type="number"]{
    width: 500px;
    padding: 8px 23px 4px 23px;
    font-size: 33px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67); 
    margin-bottom: 40px;
}
#phone-num{
    padding: 10px 20px 5px 20px;
    font-size: 35px;
    border-radius: 40px;
    border: none;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67);
}
#phone_number{
    width: 280px;
}
.reg-btn{
    background-color: #EBBC69;
    border: none;
    font-size: 40px;
    border-radius: 17px;
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px 7px #000000;
    padding: 15px 30px 10px 30px;
    box-shadow: 0px 12px 23px -9px rgba(0,0,0,0.67); 
    margin: 25px 50px 50px 50px;
}
